* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(170, 46, 94);
}

#formulario {
    border-radius: 10px;
    background-color: #fff;
    width: 25%;
    height: 50%;
    position: absolute;
    top: 25%;
    right: 37.5%;
}

form {
    padding: 10%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 25%;
}

li {
    margin-top: 30px;
    list-style: none;
}

label {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid rgb(170, 46, 94);
    width: 93%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    padding-left: 2%;
}

#submit {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: rgb(170, 46, 94);
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    width: 93%;
    height: 30px;
    margin-top: 20px;
}

p {
    background-color: thistle;
}